<header class="sticky top-0 bg-gray-100 p-4">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Logo or site title -->
      <div class="text-blue-600 text-xl font-bold">Management Employee</div>
  
      <!-- Navigation -->
      <nav class="flex items-center space-x-4 justify-center">
        <a routerLink="/" routerLinkActive="text-yellow-300">Employee</a>
        <a routerLink="/about" routerLinkActive="text-yellow-300">Assets</a>
        <a routerLink="/contact" routerLinkActive="text-yellow-300">Contact</a>
        <!-- Add more links as needed -->
  
        <!-- Add a responsive menu icon for small screens -->
        <button class="lg:hidden focus:outline-none">
          <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </nav>
    </div>
  </header>